* {
  /* border: 1px solid black; */
}
body {
  background-color: rgb(59, 63, 67);
}
.card-header {
  background-color: rgb(68, 72, 76);
  color: white;
}
.item__container {
  display: flex;
  align-items: center;
}
.fa-rotate-right {
  color: white;
  font-size: 2rem;
}
